.my-board-item {
    height: 100px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #337ab7;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.my-add-new-board {
    height: 100px;
    border-radius: 5px;
    background-color: #eee;
}

.my-add-new-board input {
    background: transparent;
    border: none;
}

.my-add-new-board input:focus {
    box-shadow: none;
}
